@charset "UTF-8";
/*  regra geral . = class # = id */

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}

/*nav*/

nav{
    color: #D4AF37;
    border-bottom: 2px solid #D4AF37;
    padding: 3%;
}

.navlink{
    float: right;
    text-decoration: none;
    color: #D4AF37;
    
}

a:active{
    color: #D4AF37;
}

a:visited{
    color: #D4AF37;
}

body{
    background-color: black;
}
/*Entrada*/

/* Form */

#login_form{
    
}

    div{
  background-color: white;
  width: 40%;
  margin: auto;
  padding:7%;
  border-radius: 8px;
}

#titulo_login{
    text-align: center;
    color: #D4AF37;
}


 







